{% extends "base.html.twig" %}

{% block title %}Create a Job offer !
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="p-3 m-3">{{ action == 'Edit' ? "Edit job offer #" ~ offer.id : 'Create Job Offer'}}</h1>

		{{form_start(formulaire)}}
		{{form_row(formulaire, {'attr': {'class': 'border-4'}})}}
		<button type="submit" class="btn btn-secondary">{{action}}</button>
		{{form_end(formulaire)}}
	</div>
{% endblock %}
