{% extends 'base.html.twig' %}

{% block title %}Hello OfferController!
{% endblock %}

{% block body %}
	{% for offer in offers %}
		<div class="card border-secondary my-3 glass-post text-black">
			<div class="card-header">
				<p class="text-decoration-none">{{offer.title}}</p>
				{% if offer.author.logo is empty %}

					{% else %}
						<img src={{ vich_uploader_asset(offer.author) }} alt={{offer.title}} height="50">
				{% endif %}

				<small class="text-decoration-none">{{offer.author.name}}</small>
			</div>
			<div class="card-footer text-muted d-flex justify-content-between">
				<span>
					{{ offer.createdAt | date('d/m/Y') }}
				</span>
				<span>
					<a href={{ path('app_offer_details', {'id' : offer.id} ) }} class="btn btn-primary">Details</a>
				</span>
			</div>
		</div>
	{% endfor %}
{% endblock %}
