{% extends 'base.html.twig' %}

{% block title %}Hello OfferController!
{% endblock %}

{% block body %}
	{% for offer in offers %}
		<div class="card border-secondary my-3 glass-post text-black">
			<div class="card-header">
				<p class="text-decoration-none">{{offer.title}}</p>
				<small class="text-decoration-none">{{offer.author.name}}</small>
			</div>
			<div class="card-footer text-muted d-flex justify-content-between">
				<span>
					{{ offer.createdAt | date('d/m/Y') }}
				</span>
				{% if app.user is same as(offer.author) %}
					<span>
						<a href={{ path('app_offer_details', {'id' : offer.id} ) }} class="btn btn-primary">Details</a>
						<a href={{ path('app_offer_edit', {'id' : offer.id} ) }} class="btn btn-warning">Edit offer</a>
					</span>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
